.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}
.menu_header{
    display: flex;
    align-items: center;
}
.menu-1{
    display: flex;
    list-style: none;
}
.menu-1 li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.menu-1 li{
    float: left;
    padding: 0 8px 5px 8px;
}
.menu-1 li:hover{
    border-bottom: 4px solid aqua;
}
.menu-1 li a:hover{
    color: aqua;
    padding: 0px;

}
.order{
    display: flex;
    align-items: center;
}
.icip{
    display: flex;
    align-items: center;
    border: 3px ;
    background-color: rgb(226, 223, 223);
    padding: 5px 50px;
    border-radius:5px ;
    margin-right: 15px;
}.ic{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.icip input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgb(226, 223, 223);
}
.ip-1:focus {
outline: none;

}
.icip ion-icon{
    display: flex;
    margin-left: -45px;
}
.title{
    margin: 0px 120px;
}
.dg{
    display: flex;
    align-items: center;
}
.ct{
    display: flex;
    margin-top: -40px;
    align-items: center;
    justify-content: space-between;
}
.tt{
    display: flex;
    align-items: center;
}
.tt button{
    display: flex;
    margin-right: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
}
.tt a{
    display: flex;
    margin-top: 0px;
}
.anh{
    display: flex;
    margin: 10px;
    align-items: center;
}
.anhphu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.anhphu img{
    height: 210px;
     width: 305px;
}
.product{
    display: flex;
    margin: 40px 120px;
}
.nd{
    padding: 0px 145px 0px 0px;
    margin: 10px 0px 30px 0px;

}
.tren{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: flex-end;
}
#color{
    padding: 7px 90px;
    margin-right: 48px;
    border: 0px 20px;
    border-radius: 5px;
}
#size{
    padding: 7px 93px;
    margin-right: 48px;
    border: 0px 20px;
    border-radius: 5px;
    margin: 10px 48px;
}
#sl{
    padding: 7px 97px;
    margin-right: 48px;
    border: 0px 20px;
    border-radius: 5px;
}
.duoi{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.bang{
    
    border: 2px solid darkgray;
    border-radius: 5px;
}
.total{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}
.bt button{
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin: 10px 50px;
    padding: 10px;
    justify-content: center;
    width: 230px;
    border-radius: 5px;
    font-size: 15px;
}
.btn-2{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
.btn-1{
    background-color: white;
    border: 2px solid aqua;
    color: aqua;

}
.tren select{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: antiquewhite;
}
.review{
    margin: 40px 120px;
}
.rv-tren{
    display: flex;
}